.TabbedSection {
	width: 80%;
	height: 80%;
	margin: auto;
	text-align: start;
}

.TsHeader {
	width: 100%;
	min-height: 8%;
	margin: 1% 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

.TsBody {
	height: 88%;
	margin: 0;
	padding: 1%;
	border: 1px solid black;
	font-size: 3em;
}
